body {
  height: 100vh;
  width: 100vw;
  background-color: powderblue;
}

.hidden {
  display: none!important;
}

.vhidden {
  opacity: 0;
}



.form {
  width: 100%;
  height: 100%;
  display: grid;
  /* justify-content: center; */
  align-items: center;
}

.buttons {
  text-align: center;
  display:flow-root;
  transition: all 0.3s linear;
}

.gr-im {
  height: 1em;
  max-height: auto;
}

.w-80 {
  width: 80%;
}
